.CityWidget {
  display: inline-grid;
  border: 3px solid #666;
  width: 200px;
  min-height: 200px;
  text-align: center;
  overflow: hidden;

  &--mobile {
    width: 100%;
  }

  &--clickable {
    cursor: pointer;
  }

  &__content {
    margin: auto;
    padding: 1em;
    word-break: break-word;
  }

  &__temperature {
    color: #ff4700;
    font-size: 2em;
  }
}
